/*menu*/
#block-fuse-main-menu .nav li.nav-item a:hover,
#block-frontusermenu .nav li.nav-item a:hover{
  color: #fff !important;
}
/*basic page*/
.basic-page-content #block-fuse-page-title{
  display: none;
}
/*login*/
#login .form-wrapper #block-userlogin h2{
  display: none;
}
#login .user-login-form .form-wrapper{
  width: 100%;
}
#login .user-login-form .js-form-item{
  margin-bottom: 10px;
}
#login .user-login-form .js-form-item label{
  display: none;
}
#login .user-login-form .js-form-type-password{
  margin-bottom: 40px;
}
#login .user-login-form .js-form-item input{
  font-size: 1.9rem;
  border-bottom: 1px solid #212529;
}
#login .user-login-form .form-wrapper .js-form-submit{
  cursor: pointer;
  width: 22rem;
  background-color: #2196F3;
  border-color: #2196F3;
  color: #fff;
  padding: 0 1.6rem;
  line-height: 3.6rem;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#block-userlogin ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#block-userlogin ul li{
  margin-top: 15px;
}
#block-userlogin ul li a{
  font-weight: 500;
  font-size: 1.3rem;
  color: #2196F3;
}
/*profile page*/
#widget8-data,
#widget9-data{
  display: none;
}