<div class="col-12 col-lg-6 p-3">
  <div class="widget widget9 card">
      <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">
          <div class="col">
              <span class="h6">Spent</span>
          </div>
          <div id="widget9-data">
          {% set res = page.budgetspent.custom_block.field_endpoint_url[0]['#context'].value %}
          {% set jsonobj = res | json_decode %}  
          {% if jsonobj is defined %}
          {{ res }}
          {% else %}
          {{ 'No data found!' }}
          {% endif %} 
          </div>

          <div class="">
              <select id="widget9-option-select" class="h6 custom-select">
                  <option selected="" value="TW">This Week</option>
                  <option value="LW">Last Week</option>
                  <option value="2W">2 Weeks Ago</option>
              </select>
          </div>
      </div>

      <div class="widget-content">
          <div id="widget9-weeklySpent" class="budget-item p-4 row no-gutters align-items-center">
              <div class="col-12 col-sm-auto p-2">
                  <div class="item-title text-muted">WEEKLY SPENT</div>
                  <div class="pt-2 h2">
                      <span class="text-muted">$</span>
                      <span class="item-value">3,000</span>
                  </div>
              </div>

              <div class="chart-wrapper col-12 col-sm">
                  <svg></svg>
              </div>
          </div>

          <div id="widget9-totalSpent" class="budget-item p-4 row no-gutters align-items-center">
              <div class="col-12 col-sm-auto p-2">
                  <div class="item-title text-muted">TOTAL SPENT</div>
                  <div class="pt-2 h2">
                      <span class="text-muted">$</span>
                      <span class="item-value">50,000</span>
                  </div>
              </div>

              <div class="chart-wrapper col-12 col-sm">
                  <svg></svg>
              </div>
          </div>

          <div id="widget9-remaining" class="budget-item p-4 row no-gutters align-items-center">
              <div class="col-12 col-sm-auto p-2">
                  <div class="item-title text-muted">REMAINING</div>
                  <div class="pt-2 h2">
                      <span class="text-muted">$</span>
                      <span class="item-value">7,500</span>
                  </div>
              </div>

              <div class="chart-wrapper col-12 col-sm">
                  <svg></svg>
              </div>
          </div>

          <div class="divider w-100 my-2"></div>
          <div id="widget9-total-budget" class="p-4">
              <div class="item-title text-muted">TOTAL BUDGET</div>
              <div class="pt-2 h2">
                  <span class="text-muted">$</span>
                  <span class="item-value">125.000,00</span>
              </div>
          </div>
      </div>
  </div>
</div>